html,
body,
.view {
	height: 100%;
}

body {
	font-family: 'Roboto', sans-serif;
}

header {
	background-color: #f5f5f5;
}

nav {
	padding-top: 2%
}
.navbar {
	z-index: 1;
}

.nav-link {
	display: block;
	padding: 10px 2rem;
	background-color: #fff;
	border-left: 2px solid #0076bf;
	font-weight: 500;
}

nav a {
	color: #0069b9;
}

.nav-link.active {
	display: block;
	padding: 10px 2rem;
	background-color: #0076bf;
	color: #fff;
}

.nav-link:hover {
	display: block;
	padding: 10px 2rem;
	background-color: #0076bf;
	border-left: 2px solid #0076bf;
	color: #fff;
}

.nav-link:hover a {
	color: #fff;
}
.form-wizard p,.form-wizard label {
	font-weight: 400!important;
	font-size: 14px;
}
.form-wizard p.text-right {
	color: #9e9e9e;
	font-size: 12px!important;
	font-weight: 300!important;
}
.form-wizard .form-control {
display: unset
}
/* SCROLL NAV FIXED */

#foo {
	height: auto;
	width: 100%;
}

.fixed-nav {
	position: fixed;
	top: 0;
	z-index: 10;
	width: 100%;
	padding-top: 0;
	background-color: transparent !important;
}

.fixed-nav .nav-link {
	border-bottom: 2px solid #0076bf
}
.nav:not(.fixed-nav) .nav-link {
	border-top: 2px solid #0076bf;
}
.nav:not(.fixed-nav) .nav-link:first-child {
	border-top-left-radius: 5px;
}
.nav:not(.fixed-nav) .nav-link:last-child {
	border-right: 2px solid #0076bf;
	border-top-right-radius: 5px;
}
.fixed-nav .nav-link:first-child {
	border-bottom-left-radius: 5px;
}
.fixed-nav .nav-link:last-child {
	border-right: 2px solid #0076bf;
	border-bottom-right-radius: 5px;
}

/* BUTTON */
.btn-rhb {
    background-color: #12015d!important;
    color: #fff!important;
		border-radius: 30px;
}
/* LINE */

.line-white {
	background-color: #fff;
	height: 5px;
	width: 100%;
	box-shadow: 0px 7px 12px 2px #0003;
}

.line-cyan {
	background-color: #6ccee6;
	height: 10px;
	width: 100%;
}

.line-footer-cyan {
	background-color: #6ccee6;
	height: 5px;
	width: 100%;
}

.bg-cyan {
	background-color: #6ccee6;
}

.bg-white {
	background-color: white;
}

.bg-blue {
	background-color: #0076bf;
}

.bg-darkblue {
	background-color: #0077bd;
}

.bg-lightgrey {
	background-color: #f5f5f5;
}

.form-rhb {
	color: #006ab7;
}

/* TEXT COLOR */

.text-blue {
	color: #0077bd;
}

.text-grey {
	color: grey
}

p.text-grey {
	font-size: 13px;
}


/* INPUT GROUP */

.input-group>.custom-select:not(:first-child),
.input-group>.form-control:not(:first-child) {
	border-radius: 30px;
	padding-left: 50px;
	z-index: 1;
	border: 0;
}

.input-group>.input-group-append:last-child>.btn:not(:last-child):not(.dropdown-toggle),
.input-group>.input-group-append:last-child>.input-group-text:not(:last-child),
.input-group>.input-group-append:not(:last-child)>.btn,
.input-group>.input-group-append:not(:last-child)>.input-group-text,
.input-group>.input-group-prepend>.btn,
.input-group>.input-group-prepend>.input-group-text {
	border-radius: 30px;
	position: absolute;
	z-index: 2;
	width: 30px;
	top: 4px;
	left: 3px;
	height: 30px;
	color: white;
	background-color: #6bcee6;
	border: 0px;
	padding: 7px;
}


/* PANEL */

.card-top-cyan {
	border-bottom-left-radius: 0;
	border-bottom-right-radius: 0;
	box-shadow: 0 2px 5px 0 rgba(0, 0, 0, .16), 0 2px 10px 0 rgba(0, 0, 0, .12);
	border-top-left-radius: 10px;
	border-top-right-radius: 10px;
}

.card-bottom-cyan {
	border-top-left-radius: 0;
	border-top-right-radius: 0;
	box-shadow: 0px 3px 5px 0px rgba(0, 0, 0, .16);
	border-bottom-left-radius: 10px;
	border-bottom-right-radius: 10px;
	padding-left: 5%;
	padding-right: 5%;
}

.panel-blue {
	background-color: #0077bd;
	height: 100%;
	padding: 20px 10px;
	border-radius: 3px;
	box-shadow: 0px 0px 14px 3px #00000038;
}

.panel-blue img {
	max-height: 50px
}

.panel-blue h6 {
	font-size: 14px;
}

.row-profit {
	padding-bottom: 5%;
	padding-top: 8%;
	padding-left: 8%;
	padding-right: 8%;
}

.row-apply {
	padding-top: 8%;
}

.row-below-header {
	margin-bottom: -8%;
}

.row-form {
	margin-bottom: -8%;
}

.row-profit h4 {
	font-weight: 500
}

.row-header {
	padding-top: 20px;
}

.row-header .card-header p {
	font-size: 12px;
	font-weight: 300;
}

.row-header .card-header h5 {
	font-weight: 400;
}

.row-fees {
	padding-top: 5%;
	padding-bottom: 5%;
	padding-left: 9%;
	padding-right: 9%;
}

.row-fees h4 {
	font-weight: 500
}

.row-requirements {
	padding-top: 5%;
	padding-bottom: 10%;
	background-image: url('../img/png/bg-requirement.png');
	background-size: cover;
	background-position: center 25px;
	background-repeat: no-repeat;
	background-color: #13005e;
	padding-left: 7%;
	padding-right: 7%;
}

.row-requirements p.text-white {
	font-size: 13px;
}

.row-requirements h4 {
	font-weight: 500
}

.card-custom {
	border-radius: 0!important;
	height: 100%;
}

.card-custom .card-body {
	padding-bottom: 0!important;
	padding-top: 10px;
}

.card-custom .card-header {
	background-color: #0077bd;
	border-radius: 0!important;
}

.card-custom img {
	width: auto;
	height: 65px;
}

.card-custom h6 {
	padding-top: 10px;
}

.border-left-darkblue {
	border-left: 4px solid #0077bd!important;
}

.border-bottom-lightblue {
	border-bottom: 3px solid #00b4ff!important;
}

.border-left-lightblue {
	border-left: 4px solid #00b4ff!important;
}

.border-left-yellow {
	border-left: 4px solid #ffd422!important;
}

.border-bottom-yellow {
	border-bottom: 3px solid #ffd422!important;
}

.border-left-red {
	border-left: 4px solid #ff6143!important;
}

.border-bottom-red {
	border-bottom: 3px solid red!important;
}

.border-left-green {
	border-left: 4px solid #209937!important;
}

.border-bottom-green {
	border-bottom: 3px solid #209937!important;
}

.row-faq {
	background-color: white;
	padding-top: 5%;
	padding-bottom: 5%;
}

.row-faq h5 {
	font-weight: 500
}

.row-fees .bg-white {
	padding: 10px 10px;
}

.row-fees .border-bottom {
	border-bottom: 1px solid #f5f5f5!important;
}

input.light-placeholder::placeholder {
	color: #ababab!important;
	font-weight: 100!important;
	font-size: 13px;
}

input.rhb-placeholder::placeholder {
	color: #0077bd!important;
}

option {
	color: red!important;
}


/* LINE DECORATION */

.lines-decoration {
	width: 100%;
	position: relative;
	top: 0;
	height: 4px;
	margin-top: 20px;
	margin-bottom: 10px;
}

.lines-decoration span:first-child {
	width: 45%;
}

.lines-decoration span {
	width: 10%;
}

.lines-decoration span:last-child {
	width: 45%;
}

.lines-decoration span {
	height: 100%;
	float: left;
}

.bg-center-color {
	background-color: #0077bd;
}

.bg-left-color {
	height: 30%!important;
	background-color: #0077bd;
}

.bg-right-color {
	height: 30%!important;
	background-color: #0077bd;
}

.bg-center-white {
	background-color: #fff;
}

.bg-left-white {
	height: 30%!important;
	background-color: #fff;
}

.bg-right-white {
	height: 30%!important;
	background-color: #fff;
}

/* RANGESLIDER */

.range {
  position: relative;
width: 10%;
height: 5px;
border-radius: 5px;
}
.range input {
  width: 100%;
  position: absolute;
  top: 2px;
  height: 0;
  -webkit-appearance: none;
}
.range input::-webkit-slider-thumb {
  -webkit-appearance: none;
  width: 18px;
  height: 18px;
  margin: -8px 0 0;
  border-radius: 50%;
  background: #12015d;
  cursor: pointer;
  border: 0 !important;
}
.range input::-moz-range-thumb {
  width: 18px;
  height: 18px;
  margin: -8px 0 0;
  border-radius: 50%;
  background: #058bda;
  cursor: pointer;
  border: 0 !important;
}
.range input::-ms-thumb {
  width: 18px;
  height: 18px;
  margin: -8px 0 0;
  border-radius: 50%;
  background: #058bda;
  cursor: pointer;
  border: 0 !important;
}
.range input::-webkit-slider-runnable-track {
  width: 100%;
  height: 2px;
  cursor: pointer;
  background: #b2b2b2;
}
.range input::-moz-range-track {
  width: 100%;
  height: 2px;
  cursor: pointer;
  background: #b2b2b2;
}
.range input::-ms-track {
  width: 100%;
  height: 2px;
  cursor: pointer;
  background: #b2b2b2;
}
.range input:focus {
  background: none;
  outline: none;
}
.range input::-ms-track {
  width: 100%;
  cursor: pointer;
  background: transparent;
  border-color: transparent;
  color: transparent;
}
.range-labels {
  margin: 18px 0;
  padding: 0;
  list-style: none;
  display: flex;
}
.range-labels .active {
  color: #0076bf;
}
.range-labels .active.selected::before {
  display: none;
}

/* ACCORDION */

.accordion {
	padding: 5%;
	background-color: #f5f5f5;
}

.accordion a {
	color: #0077bd;
}

.accordion .card,
.accordion .card-header {
	box-shadow: none;
	background-color: #f5f5f5;
	padding-left: 0;
}

.accordion .card-body {
	background-color: #f5f5f5;
	padding-left: 0;
}

.accordion .card-body p {
	font-weight: 300;
	font-size: 14px;
}

.accordion-toggle:after {
	/* symbol for "opening" panels */
	font-family: 'FontAwesome';
	content: "\f056";
	float: right;
	color: inherit;
}

.panel-heading.collapsed .accordion-toggle:after {
	/* symbol for "collapsed" panels */
	content: "\f055";
}


/* FORM Control */

.form-control-sm {
	height: calc(1.8125rem + 2px);
	padding: .25rem .5rem;
	font-size: .875rem;
	line-height: 1.5;
	border-radius: .2rem;
	width: 35%;
}


/* TYPOGRAPHY */

.font-weight-400 {
	font-weight: 400;
}

.extra-small-text {
	font-size: 10px;
}

.small-text {
	font-size: 11px;
}

.myincome .custom-control {
	margin-bottom: 15px;
}


/* CHECKBOX */

.checkbox input[type="checkbox"]:checked+label::after {
	font-family: 'FontAwesome';
	content: "\f00c";
	font-size: 18px;
}

.checkbox-primary input[type="checkbox"]:checked+label::after {
	color: #0177bc;
}

.custom-control-label::before {
	position: absolute;
	top: 0;
	left: -1.5rem;
	display: block;
	width: 20px;
	height: 20px;
	pointer-events: none;
	content: "";
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	background-color: #00406a;
}

.custom-control-label {
	position: relative;
	margin-bottom: 0;
	font-size: 14px;
}

.custom-control-input:checked~.custom-control-label::before {
	background-color: #00406a;
}
.custom-control-input:focus~.custom-control-label::before{
	box-shadow: none
}
.custom-control-label::after {
	position: absolute;
	top: -3px;
	left: -23px;
	display: block;
	width: 1rem;
	height: 1rem;
	content: "";
	background-repeat: no-repeat;
	background-position: center center;
	background-size: 50% 50%;
}

select.custom-select {
	-moz-appearance: none;
	-webkit-appearance: none!important;
	appearance: none;
	text-indent: .01px;
	text-overflow: "";
	height: 30px;
	min-height: 28px;
	width: 100px;
	background: url(../img/png/dropdown.png) no-repeat scroll right -6px #fff!important;
	cursor: pointer;
	border: 1px solid #bfbfbf;
	border-radius: 3px;
}

select.custom-select {
	padding: .2em!important;
	border: 1px solid #bfbfbf;
	border-right: 0!important;
	color: #006ab7;
	background: #fff;
}


/* SHAPES */

.parallelogram {
	/* width: 100%; */
	height: auto;
	transform: skew(-20deg);
	background: #e1e1e1;
	position: relative;
	z-index: 0;
	padding: 10px;
}

.parallelogram img {
	width: auto;
	max-height: 100px;
}

.parallelogram.offset-1 {
	margin-left: 10.4%
}

.parallelogram.para-blue {
	/* width: 100%; */
	height: auto;
	transform: skew(-20deg);
	background: #13005e;
	position: relative;
	z-index: 0;
	padding: 20px;
}

.img-header {
	width: 97%
}


/* FOOTER */

footer.bg-darkblue {
	background-color: #114c74;
}

footer.page-footer .footer-copyright {
	overflow: hidden;
	background-color: #313131;
	color: rgba(255, 255, 255, .6);
	font-size: 11px;
}

footer .list-unstyled {
	font-size: 12px;
}

footer li {
	padding-bottom: 5px;
}

.img-footer {
	max-width: 70px;
	margin-bottom: 5%;
	margin-right: 10px;
}

.img-socmed {
	width: 30px;
	padding-right: 5px;
}

.socmed {
	display: flex;
}


/* MEDIA */

@media (min-width: 1300.1px) {
	.input-rm .col-12 {
		margin-bottom: 10px;
		font-size: 14px;
	}

	.range-labels li {
	  position: relative;
	    margin-right: 10%;
	    text-align: center;
	    color: #b2b2b2;
	    font-size: 14px;
	    cursor: pointer;
	}

	.parallelogram {
		width: 600px;
		min-width: 180px;
		height: auto;
		transform: skew(-20deg);
		background: #e1e1e1;
		position: relative;
		z-index: 0;
		padding: 10px;
		margin-left: 22px;
	}
	.parallelogram.para-blue {
		width: 600px;
height: auto;
transform: skew(-20deg);
background: #13005e;
position: relative;
z-index: 0;
padding: 53px;
margin-left: -45px;
	}
	.parallelogram.para-blue h3 {
		transform: skew(20deg);
	}
	.parallelogram.para-blue p {
		transform: skew(20deg);
	}
	.parallelogram img {
		transform: skew(20deg);
	}
}

@media (max-width: 1300px) and (min-width: 992.1px) {
	.input-rm .col-12 {
		margin-bottom: 10px;
		font-size: 14px;
	}

	.range-labels li {
	  position: relative;
	    margin-right: 10%;
	    text-align: center;
	    color: #b2b2b2;
	    font-size: 14px;
	    cursor: pointer;
	}

	.parallelogram {
		width: 450px;
		min-width: 180px;
		height: auto;
		transform: skew(-20deg);
		background: #e1e1e1;
		position: relative;
		z-index: 0;
		padding: 10px;
		margin-left: 22px;
	}
	.parallelogram.para-blue {
		width: 450px;
	    height: auto;
	    transform: skew(-20deg);
	    background: #13005e;
	    position: relative;
	    z-index: 0;
	    padding: 30px;
	    margin-left: -34px;
	}
	.parallelogram.para-blue h3 {
		transform: skew(20deg);
	}
	.parallelogram.para-blue p {
		transform: skew(20deg);
	}
	.parallelogram img {
		transform: skew(20deg);
	}
}

@media (min-width: 768.1px) and (max-width: 992px) {
	.view {
		overflow: visible;
	}
	.input-rm .col-12 {
		margin-bottom: 10px;
		font-size: 11px;
	}

	.range-labels li {
	  position: relative;
	    margin-right: 9%;
	    text-align: center;
	    color: #b2b2b2;
	    font-size: 14px;
	    cursor: pointer;
	}

	.parallelogram {
		width: 350px;
		min-width: 180px;
		height: auto;
		transform: skew(-20deg);
		background: #e1e1e1;
		position: relative;
		z-index: 0;
		padding: 10px;
		margin-left: 22px;
	}
	.parallelogram.para-blue {
		width: 350px;
		height: auto;
		transform: skew(-20deg);
		background: #13005e;
		position: relative;
		z-index: 0;
		padding: 19px;
		margin-left: -42px;
	}
	.bg-blue h4 {
		font-size: 15px;
	}
	.parallelogram.para-blue h3 {
		font-size: 12px;
		transform: skew(20deg);
	}
	.parallelogram.para-blue p {
		font-size: 12px;
		transform: skew(20deg);
	}
	.parallelogram img {
		transform: skew(20deg);
		width: auto;
		max-height: 60px;
	}
	.nav-link {
		display: block;
		padding: 10px 10px;
		background-color: #fff;
		border-left: 2px solid #0076bf;
		font-weight: 500;
		font-size: 13px;
	}
	.nav-link.active {
		font-size: 13px;
		padding: 10px 10px;
	}
	.row-profit .col-12 {
		margin-bottom: 10px;
	}
}

@media (min-width: 576.1px) and (max-width: 768px) {
	.input-rm .col-12 {
		margin-bottom: 10px;
		font-size: 11px;
	}

	.range-labels li {
	  position: relative;
	    margin-right: 9.3%;
	    text-align: center;
	    color: #b2b2b2;
	    font-size: 14px;
	    cursor: pointer;
	}

	.parallelogram {
		width: 350px;
		min-width: 180px;
		height: auto;
		transform: skew(-20deg);
		background: #e1e1e1;
		position: relative;
		z-index: 0;
		padding: 10px;
		margin-left: 22px;
	}
	.parallelogram.para-blue {
		width: 350px;
		height: auto;
		transform: skew(-20deg);
		background: #13005e;
		position: relative;
		z-index: 0;
		padding: 19px;
		margin-left: -42px;
	}
	.bg-blue h4 {
		font-size: 15px;
	}
	.parallelogram.para-blue h3 {
		font-size: 12px;
		transform: skew(20deg);
	}
	.parallelogram.para-blue p {
		font-size: 12px;
		transform: skew(20deg);
	}
	.parallelogram img {
		transform: skew(20deg);
		width: auto;
		max-height: 60px;
	}
	.nav-link {
		display: block;
		padding: 10px 10px;
		background-color: #fff;
		border-left: 2px solid #0076bf;
		font-weight: 500;
		font-size: 13px;
	}
	.nav-link.active {
		font-size: 13px;
		padding: 10px 10px;
	}
	.row-profit .col-12 {
		margin-bottom: 10px;
	}
	.socmed {
		justify-content: center!important;
	}
	.row-header .card {
		margin-top: 20px;
	}
}

@media (max-width:576px) {
	.row-faq h5 {
		font-size: 13px;
	}
	h4 {
		font-size: 13px;
	}
	p.text-grey {
		font-size: 11px;
	}

	.range-labels li {
	  position: relative;
	    margin-right: 7.5%;
	    text-align: center;
	    color: #b2b2b2;
	    font-size: 14px;
	    cursor: pointer;
	}

	.nav-link {
		display: block;
		padding: 5px 3px;
		background-color: #fff;
		border-left: 2px solid #0076bf;
		font-weight: 500;
		font-size: 8px;
	}
	.nav-link.active {
		font-size: 8px;
		padding: 5px 3px;
	}
	.row-header .card {
		margin-top: 20px;
		margin-bottom: 20px;
	}
	.row-header .card h5 {
		font-size: 12px;
	}
	.row-header .card p {
		font-size: 11px;
	}
	.row-header label {
		font-size: 12px;
	}
	.row-header input,
	select,
	label {
		margin-bottom: 10px;
	}
	.row-header .custom-control {
		margin-bottom: 10px;
	}
	.card-custom img {
		width: auto;
		height: 30px;
	}
	.row-header nav {
		font-size: 12px;
	}
	.parallelogram img {
		width: auto;
		max-height: 25px;
	}
	.parallelogram.para-blue h3 {
		font-size: 5px;
		transform: skew(20deg);
	}
	.parallelogram.para-blue p {
		font-size: 5px;
		transform: skew(20deg);
	}
	.parallelogram img {
		transform: skew(20deg);
	}
	.parallelogram {
		width: 180px;
		min-width: 180px;
		height: auto;
		transform: skew(-20deg);
		background: #e1e1e1;
		position: relative;
		z-index: 0;
		padding: 10px;
		margin-left: 22px;
	}
	.parallelogram.para-blue {
		width: 180px;
		height: auto;
		transform: skew(-20deg);
		background: #13005e;
		position: relative;
		z-index: 0;
		padding: 10px;
		margin-left: -14px;
	}
	.parallelogram .col-5 {
		margin-bottom: 5px;
	}
	.bg-blue h4 {
		font-size: 10px;
		font-weight: 500;
	}
	.img-header {
		width: 150px;
		left: -5px;
		top: 15px;
		position: absolute;
	}
	.form-control {
		display: block;
		width: 35%;
		height: 25px;
		padding: .375rem .75rem;
		font-size: 10px;
		color: #495057;
		background-color: #fff;
		background-clip: padding-box;
		border: 1px solid #ced4da;
		border-radius: .25rem;
		transition: border-color .15s ease-in-out, box-shadow .15s ease-in-out;
	}
	.input-group>.input-group-append:last-child>.btn:not(:last-child):not(.dropdown-toggle),
	.input-group>.input-group-append:last-child>.input-group-text:not(:last-child),
	.input-group>.input-group-append:not(:last-child)>.btn,
	.input-group>.input-group-append:not(:last-child)>.input-group-text,
	.input-group>.input-group-prepend>.btn,
	.input-group>.input-group-prepend>.input-group-text {
		border-radius: 30px;
		position: absolute;
		z-index: 2;
		width: 20px;
		top: 3px;
		left: 1px;
		height: 20px;
		color: white;
		background-color: #6bcee6;
		border: 0px;
		padding: 6px;
		font-size: 9px;
	}
	input.light-placeholder::placeholder {
		color: #ababab!important;
		font-weight: 100!important;
		font-size: 10px;
	}
	select.custom-select {
		font-size: 12px;
	}
	.custom-control-label {
		position: relative;
		margin-bottom: 0;
		font-size: 11px;
		text-align: left;
	}
	.custom-control-label::before {
		width: 18px;
		height: 18px;
	}
	.extra-small-text {
		font-size: 9px;
	}
	.row-profit .col-12 {
		margin-bottom: 10px;
	}
	.row-fees .col-6 {
		font-size: 10px;
	}
	.row-requirements .card-header {
		font-size: 10px;
		padding: 5px;
	}
	.row-requirements .col-6 {
		padding-left: 5px;
		padding-right: 5px;
		margin-bottom: 10px;
	}
	.row-requirements .card-body {
		padding-left: 5px;
		padding-right: 5px;
	}
	.row-requirements h6 {
		font-size: 10px;
	}
	.row-faq p {
		font-size: 10px !important;
	}
	.accordion .card,
	.accordion .card-header {
		padding-left: 0;
		padding-right: 0;
	}
	.socmed {
		justify-content: center!important;
	}
	.lines-decoration span:last-child {
		width: 35%;
	}
	.lines-decoration span:first-child {
		width: 35%;
	}
	.lines-decoration span {
		width: 25%;
	}
}
